* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



body {
    overflow: hidden;
}

section 
{
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom,#ff4f8b,#dff1ff);
}

/* css middle */

section::before {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 1;
    /* backdrop-filter: blur(5px); */
    /* border-top: 1px solid rgba(255, 255, 255, 0.5); */
}

section .color {
    position: absolute;
    filter: blur(150px);
}

section .color:nth-child(1) {
    background: #ff359b;
    width: 600px;
    height: 600px;
    top: -350px;
}

section .color:nth-child(2){
    background: #00d2ff;
    width: 500px;
    height: 500px;
    bottom: -150px;
    left: 100px;
}

section .color:nth-child(3){
    background: #fffd87;
    width: 300px;
    height: 300px;
    bottom: 50px;
    left: 0px;
}

/* Css Search */

.container {
    /* display: none; */
    width: 50%;
    height: 100vh;
    background: rgba(86, 86, 86, 0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    left: 0;
    top: 0;
}

.info {
    width: 550px;
    color: #fff;
    position: absolute;
    right:10%;
    top: 50%;
    transform: translateY(-50%);
}

.info h1 {
    font-size: 60px;
    letter-spacing: 10px;
}

.info p {
    color: #f0eef1;
    font-size: 11px;
    margin: 20px 0;
    line-height: 18px;
}

.info input{
    width: 50%;
    padding: 8px 10px;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    background: transparent;
    color: #fff;
    font-size: 12px;
}

::placeholder {
    color: #ccc;
} 

/* page 2 */

.weather-app {
    min-height: 100vh;
    background-size: cover;
    color: #fff;
    position: relative;
    transition: 500ms;
    opacity: 1;
    left: 25%;
    top: 10%;
}
/* 
.weather-app::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 0;
} */

.container2 {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    padding: 2em 3em 4em 3em;
}

.container2 > div {
    display: flex;
    justify-content: center;
    align-items: center;
}
.temp {
    font-size: 5em;
    margin: 0;
}

.city-time,.temp,.weather {
    margin: 0 1em;
}

.city-time h1 {
    margin: 0;
    margin-bottom: 0.2em;
    font-size: 3em;
}

.weather img {
    display: block;
    margin: 0.5em 0;
}

.submit {
    padding: 0.7em 1.3em;
    margin: 0;
    border-radius: 15px;
    border: none;
}

.submit:hover {
    background-color: black;
    color: #fff;
}

.panel ul {
    padding: 0 0 1em 0;
    margin: 2em 0;
    border-bottom: 1px #ccc solid;
}

.panel ul li {
    color: white;
    margin: 1.5em 0;
}

.panel ul h4 {
    margin: 2em 0;
    font-size: 20px;
}

.city {
    display: block;
    cursor: pointer;
}

.city:hover {
    color: #ccc;
}

.details li {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.row {
    margin-bottom: 10px;
    display: flex;
}

.label {
    font-weight: bold;
}

.item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.table {
    display: flex;
    justify-content: center;
}

.forecast-label-title {
    text-align: center;
}

.title {
    margin-bottom: 80px;
}